streamlit==1.33.0
beautifulsoup4==4.12.3
requests==2.31.0
readability-lxml==0.8.1
spacy==3.7.2
pandas==2.2.2
scikit-learn==1.4.2
lxml==5.2.1
sentence-transformers==2.7.0
torch==2.1.2
transformers==4.40.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
